@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MVC Address Book!</h1>
    <h5 class="mt-3">A coding project by Jesse Chase</h5>
    <hr />
    <h6 class ="mt-5 blog">
        This is a dynamic web app that has the ability to CREATE, READ, UPDATE, and DELETE information from a database that
        the user is able to use with full functionality. <br />
        It is made using the MVC (model-view-controller) design pattern with ASP.NET Core. I created this, added a ContactsController along with views for each of the CRUD functions you
        can use, and also registered services that would allow this app to interact with a PostgreSQL database, plus another service and interface that allows you to upload
        and use a photo for each contact.
        <br /> Give it a try!
    </h6>
</div>
